/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
  margin-bottom: 1.5em;
}

.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.odd /* Zebra striping for each block in the region */ {
}

.block.even /* Zebra striping for each block in the region */ {
}

h2.block-title /* Block title */ {
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}
#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First block created with "Add block" link */ {
}

#block-blog-recent /* "Recent blog posts" block */ {
}

#block-book-navigation /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-recent /* "Recent comments" block */ {
}

#block-forum-active /* "Active forum topics" block */ {
}

#block-forum-new /* "New forum topics" block */ {
}

#block-locale-language /* Language switcher block */ {
}

#block-menu-menu-NAME /* Custom menu block  */ {
}

#block-node-recent /* "Recent content" block */ {
}

#block-node-syndicate /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */ {
}

#block-poll-recent /* "Most recent poll" block */ {
}

#block-profile-author-information /* "Author information" block for the profile of the page's author */ {
}

#block-search-form /* "Search form" block */ {
}

#block-shortcut-shortcuts /* "Shortcuts" block */ {
}

#block-statistics-popular /* "Popular content" block */ {
}

#block-system-main-menu /* "Main menu" block */ {
float: left;
margin-bottom: 0;
}

#block-system-main-menu a{
text-transform: uppercase;
}

#block-system-main-menu ul{
margin-bottom: 0;
margin-top: 0;
padding-left: 0;
}

#block-system-main-menu li{
float: left;
list-style: none outside none;
margin: 0;
padding: 0;
}

#block-system-main-menu li a{
    border-right: 1px solid #827D72;
    display: block;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    text-transform: uppercase;
}

#block-system-main-menu li.first a{
border-left: 1px solid #827D72;
}

#block-system-main-menu li a.active{
background: url("../images/block-system-main-menu-bg.png") repeat-x scroll 0 0 #003359;
}

#block-system-management /* "Management" block for Drupal management menu */ {
}

#block-system-navigation /* "Navigation" block for Drupal navigation menu */ {
}

#block-system-user-menu /* "User menu" block for Drupal user menu */ {
}

#block-system-help /* "System help" block */ {
}

#block-system-main /* "Main page content" block */ {
}

#block-system-powered-by /* "Powered by Drupal" block */ {
}

#block-user-login /* "User login form" block */ {
}

#block-user-new /* "Who's new" block for a list of the newest users */ {
}

#block-user-online /* "Who's online" block for a list of the online users */ {
}

/* DWA Copyright Block */
#block-dwa-api-copyright { 
    margin-bottom: 0;
    width: 100%;
}

#block-dwa-api-copyright .content{
    display: table;
    margin: 0 auto;
}

/**
 * Footer Blocks.
 */
.region-footer .block{
    border-right: 1px solid #292927;
    margin-bottom: 0;
    padding-bottom: 30px;
    padding-top: 35px;
    width: 313px;
}

.region-footer .block.first{
width:314px;
}

.region-footer .block.last{
/* border-right: none; */
}

.region-footer .block .content{
margin-left: 20px;
margin-right: 20px;
}

.region-footer h2,
.region-footer h2.block-title{
    color: #FFFFFF;
    font-size: 1.7em;
    font-weight: normal;
    margin-bottom: 1.25em;
    margin-left: 20px;
    margin-right: 20px;
}
