/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */


body {
background-color: #100c0b;
}

#page-wrapper {
background-color: #f1f1f1;
}

#page {
}

#header {
background: url("../images/header-bg.png") repeat-x scroll 0 0 #242320;
}

#header .section {
}

#main-wrapper {
}

#main {
background: url("../images/main-bg.png") repeat-y scroll 0 0 #100c0b;
}

.region-footer{
background: url("../images/region-footer-bg.png") repeat-x scroll 0 0 #151412;
}

.region-bottom {
background-color: #1e1d1a;
}

.region-sidebar-second{
background-color: #FFFFFF;
}